
/* Some default setup for multiple element or multiple tag.*/
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif; 
}
.half{
    width: 45%;
    float: left;
    padding: 10px ;
}
.left-side{
    margin-left: 5%;
}
h1{
    font-size: 45px;
    font-weight: 400;
}
h2{
    font-size: 30px;
    color: white;
    margin: 0 auto;
    color: black;
}
h4{
    font-size: 22px;
    color: white;
    padding-top: 60px;
    color: black;
   
}
h5{
    font-size: 23px;
    font-weight: bold;
    margin: 80px 0px 10px 0px;
   
}
h6{
    font-size: 15px;
    color: gray;
    margin: 0px ;
}
p{
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   color: dimgray;
   line-height: 1.5 ;
}

.image-wrapper{
    width: 450px;
    height: 450px;
    background-image: linear-gradient(360deg,rgb(80,30,171),rgb(225,5,156));
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70%    ;
    margin: 0 auto;
}
img{
    width: 200px;
    height: 320px;
    margin: 50px;
}
a{
    background-image: linear-gradient(45deg,#ffb600,#ff4800);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
}

/*style for intro section.*/
#intro{
    height: 600px;
    background-image: url(img/intro-bg.png);
    background-size: cover;
}

/* Style fo Biograpy section*/
#biograpy{
    height: 550px;
    overflow: hidden;
    background-image: url(img/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#name-highlight{
    color: rgb(225,5,156);
    font-weight: 800;
}

/*style for latest work section.*/
#my-latest-work{
    height: 500px;
    text-align: center;
    padding-top: 120px;
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#my-latest-work #img-wrapper{
    margin: 80px 50px 20px 50px;
}
#my-latest-work img{
    height: 300px;
    width: 31%;
    padding: 0px 10px;
    margin: 0px;      /*Reset margin of image */
}

/*Style for client section*/
#client{
    height: 550px;
    text-align: center;
    margin-top: 100px;
    background-image: url(img/client-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#client p{
    margin:50px 0px 15px 0px;
}
/*Style for email section*/
#send-email{
    width:800px;
    height: 200px;
    background-color:white;
    text-align: center;
    margin: 0 auto;        /*for middle position used margin 0 auto */
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(223, 120, 120);
}
footer{
    height: 100px;
    margin-top: 200px;
}
footer p{
    text-align: center;
    padding: 50px;
}

    